* {
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 1em;
}

body {
    margin-left: 20%;
    margin-top: 10%;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 2em;
}

a {
    color: #596F73;
}